@using Quiz2.Models.DBEntities;
@model Question
@{
    ViewData["Title"] = "optionId";
}

<h1>Edit Question</h1>
<form method="Post" asp-action="EditQuestion">
    <div class="mb-3">
        <label asp-for="QuestionId"  class="display-6">Id: @Model.QuestionId</label>

    </div>
    <div class="mb-3">
        <label asp-for="QuesContent"></label> @*bind the attribute with Category.Name*@
        <input asp-for="QuesContent" class="form-control" />
    </div>
    <div class="form-group">
    <label asp-for="CategoryId"></label>
        @{
            var categories = ViewData["Categories"] as IEnumerable<SelectListItem>;
            if (categories != null)
            {
                    <select asp-for="CategoryId" asp-items="categories"></select>
            }
        }
    </div>
    <input type="hidden" asp-for="QuestionId" name="quesId" />

    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
    @*The <a> tag here is to redirect to the index page*@
    <a asp-controller="Admin" asp-action="GetAlQuestions" class="btn btn-secondary" style="width: 150px">
        Back To List
    </a>
</form>

